* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/wallpaperflare.com_wallpaper.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {

    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
/*---------hover navbar-------------*/
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #2568fb;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #2568fb;
    background: #2568fb;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #2568fb;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

/*---------information-------*/
.information {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.information-col {
    flex-basis: 31%;
    background: #d6e3ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.information-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }
}

/*------------bike-story-------------*/
.bike-Story {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.bike-Story-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.bike-Story-col img {
    width: 100%;
    display: block;
}
.layer{
    background:transparent;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
}

.layer:hover{
    opacity: 50%;
    background: #2568fb;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size:26px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity:1;
}
.main-scroll-div {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
 }
 
 .cover {
    position: relative;
    width: 90%;
    height: 50%;
 }
 /*-------scroll hrizontal bar-----------*/
 .scroll-images {
    width: 100;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
 }
 
 .scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
 }
 
 .child {
    min-width: 600px;
    height: 450px;
    margin: 1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
 
 }
 
 .child-img {
 
    width: 100%;
    height: 100%;
 }
 
 
 
 .icon {
    color:#2568fb;
    background-color: white;
    font-size: 50px;
    outline: none;
    border: none;
    padding: opx 20px;
    cursor: pointer;
 }
 
 .main-scroll-div{
  
    margin-left: 50px;
 }
 @media(max-width:700px) {
    .main-scroll-div{
       margin-left: -5px;
    
    }
    .scroll-images {
       width: 300px;
       height: 400px;
    }
    .child-img {
 
       width: 90%;
       height: 100%;
    }
 
 }

/*-----photo  in end page home cta----==--*/
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/people-adventure-bicycle-bicycles.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:700px) {
    .cta h1 {
        font-size: 24px;
    }
}
/*----------about us page-------*/
.sub-header {
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/wallpaperflare.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}



.sub-header h1 {
    margin-top: 100px;
    margin-right: 45%;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 50%;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col amg {
    width: 100%;
}

.about-col h1 {
    margin-left: 4%;
    padding-top: 0;
    padding-bottom: 50px;
}

.about-col p {
    padding: 15px 0 25px;
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
}

.red-btn {
    margin-left: 5%;
    margin-top: 15%;
    border: 1px solid #2568fb;
    background: transparent;
    color: #2568fb;
}

.red-btn:hover {
    color: #fff;
}

.sub-header {
    flex: 1;
    text-align: right;
}

.sub-header ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.sub-header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 12px;
}

.sub-header ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #2568fb;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.sub-header ul li:hover::after {
    width: 100%;
}

@media(max-width:700px) {
    .sub-header h1 {
        
        padding: 0% 33%;
    }
    .about-col img{
        margin-right: 90%;
    }
}

/*----------services-------------*/
.sub-header2 {
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/wallpapber2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.services {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.services-col {
    flex-basis: 31%;
    background: #d6e3ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.services-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }
    
}


.facilities {
    width: 80%;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.facilities-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.facilities-col img {
    width: 100%;
    display: block;
}
/*-----contact us page----*/
.sub-header3 {
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/wallpaperflare.com_wallpaper\(2\).jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #2568fb;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*-------footer----*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #2568fb;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: #2568fb;
}